* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* Custom Code */
h2 {
    font-family: 'DM Sans', sans-serif;
}
a:link {
    text-decoration: none;
    color: #ededed;
    position: relative;
}

a:onclick {
    bottom: 8px;
    height: 24px;
}

a::before {
    content: '';
    background-color: #6da29e;
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    height: 0px;
    z-index: -1;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.navbar a:hover::before {
    bottom: 8px;
    height: 24px;
}

select, option {
  font-family: 'fontAwesome', 'DM Sans' !important ;
}

html {
  scroll-behavior: smooth;
}

::placeholder {
    color: white !important;
}

#social-button, #exampleFormControlInput1, #exampleFormControlInput2, #basic-addons, #basic-addons1, #basic-addon1, #floatingSelect, #floatingSelect1, #exampleFormControlTextarea1 {
    background-color:#383838;
    border: 1px solid #4a4a4a;
    color: white !important;
}

#floating1::after {
    background-color: #383838;
}

#floating1 {
    color: gray !important;
}

.square-width {
    width: 50px !important;
}

.form-select1 {
    border: 0px !important;
    border-color: none;
}

.form-control {
    height: auto !important;
}

.dropdown-toggle::after {
    color: white;
}

#modalDiv::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    backdrop-filter: blur(4px);
    z-index: -1;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.media-body {
    -ms-flex: 1;
    flex: 1;
    display: inline;
}

.projTag {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-p {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    word-wrap: break-word;
    min-height: 100%;
    background-color:#383838;
    background-clip: border-box;
    border: 1px solid #4a4a4a;
    border-radius: 0.25rem;
}

.card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    border: none !important;
}

.theme-color-1 {
    background-color: #292929;
    border: 1px solid #4a4a4a;
}

.theme-color-2 {
    background-color: #6da29e !important;
}

.theme-color-3 {
    background-color:#383838;
    border: 1px solid #4a4a4a;
    width: 10px;
}

#tools .progress {
    position: relative;
	height: 30px;
    width: 180px;
    background-color: #383838;
    border: 1px solid #4a4a4a;
}

.img-tools {
    width: 24px !important;
}

.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 400;
	padding: 3px 30px 3px 5px;
	color: rgb(255, 255, 255);
	/* background-color: rgba(25, 25, 25, 0.2); */
}

.progress-bar {
    background-color: #6da29e !important;
}

.w-90 {
    width: 90%;
}
.w-85 {
    width: 85%;
}

.background-box {
    position: absolute;
    z-index: 0;
    background: #000000 url('./images/stars_background.png') repeat top center;
    background-attachment: fixed;
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    top: 0px;
    height: 100%;
}

@media (min-width: 1228px) {
    .background-box {
        padding-right: 12rem !important;
        padding-left:  12rem !important;
    }
}

@media (max-width: 992px) {
    #tools .progress {
        position: relative;
        height: 30px;
        width: 400px;
    }
}

@media (max-width: 576px) {
    #tools .progress {
        position: relative;
        height: 30px;
        width: 200px;
    }
}

.blur {
    -webkit-mask-image: linear-gradient(black, black, transparent);
    mask-image: linear-gradient(black, black, transparent);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    height: 35vh;
    width: 100vw;
    left: 0;
    top: -4rem;
    position: absolute;
    object-fit: fill;
    overflow: hidden;
}

.blurred-overlay {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.square {
    width: 15%;
    margin: 3px;
}

.gutters {
    --bs-gutter-x: 5rem;
}

.form-select {
    color: #FFFFFF! important;
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
}

.custom-media-body {
    width: 100%;
}

.cardContainer {
    min-height: 100%;
}

.col-lg-4 {
    max-width: 100% !important;
}


toolset {
    margin-left: 5rem !important;
    margin-right: 5rem !important;
    /* padding-left: 2rem;
    padding-right: 2rem; */
}

#about-me {
    padding-top: 18rem;
    z-index: 1;
}

#about-me img {
    width: 20%;
    margin-bottom: 10px;
    margin-right: 18px;
}

#myProjects {
    padding-top: 10rem;
}

#projects {
    margin-right: 0rem;
    padding-top: 18rem;
    z-index: 1;
}

#tools img {
    width: 40px;
}

#contactMe {
    padding-top: 10rem;
}

#contact-link {
    width: 6rem;
}

#footer-id {
    margin-top: 4rem !important;
    margin-bottom: 2rem !important;
}

/* End of Custom Code */

/* Typewriter Animation */
.name-ani{
    position: relative;  
    width: 7.5em;
    margin: 0 auto;
    font-family: 'IBM Plex Sans Medium 500', sans-serif;
    border-right: 2px solid #ededed;
    font-size: 18px;
    color: #ededed;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;   
}

.anim-typewriter{
  animation: typewriter 1s steps(13, end) 1s 1 normal both,
             blinkTextCursor 700ms steps(13) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 7em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #ededed;}
  to{border-right-color: transparent;}
}
/* End of Typewriter Animation */


/* Twinkling Animation */
.twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: transparent url('./images/stars.png') repeat top center;
    background-attachment: fixed;
    z-index: 1;
    animation: move-twinkling-back 200s linear infinite;
}

@keyframes move-twinkling-back {
    from { background-position: 0 0; }
    to { background-position: -10000px 5000px; }
}
/* End of Twinkling Animation */


/* Flipping Card Animation */
::selection{
    color: #fff;
    background: #1cc7d0;
}

#landing {
    height: 400px;
    width: 320px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1300px;
    margin-top: 200px;
}

#landing .card {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px;
    background: linear-gradient(375deg, #d3e6da, #ededed);
/*    margin-top: 150px;*/
    border-radius: 10px;
    transform: translateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transition: transform 0.4s cubic-bezier(0.4,0.2,0.2,1);
}

#landing:hover > .front-face {
    transform: rotateY(-180deg);
}

#landing .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

#landing .back-face {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
}

#landing:hover > .back-face {
    transform: rotateY(0deg);
}

#landing .back-face img {
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 50%;
    background: linear-gradient(375deg, #6da29e, #a9dbd7);
}

#landing .back-face .info {
    text-align: center;
}

#landing .back-face .info .title{
    font-size: 25px;
    font-weight: 600;
}

.back-face ul {
  display: flex;
  padding: 0;
}

.back-face ul a {
  display: block;
  height: 36px;
  width: 36px;
  color: #d3e6da;
  text-align: center;
  margin: 0 5px;
  line-height: 38px;
  border: 0px solid transparent;
  border-radius: 50%;
  background: linear-gradient(375deg, #6da29e, #a9dbd7);
  transition: all 0.5s ease;
}
.back-face ul a:hover {
    color: #6da29e;
    border-color: #1cc7d0;
    background: linear-gradient(375deg, transparent, transparent);
}

/* End of Flipping Animation */